<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Template Swapi</title>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style_planetas.css">
  <link rel="stylesheet" href="./css/style_movies.css">
</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li>
          <div>
            <a href=""><img id="starLogo" src="img/logo.png" alt=""></a>
          </div>
        </li>
        <li class="sidebar-brand">

          <a href="#" class="navbar-brand">
            <div id="logo"></div>
          </a>

        </li>
        <li id="homeli">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Movies</a>
        </li>
        <li>
          <a href="#">Characters</a>
        </li>
        <li>
          <a href="#">Vehicles</a>
        </li>
        <li>
          <a href="#">Spaceships</a>
        </li>
        <li>
          <a href="#">Planets</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <!--NO TOQUEN LO DE ARRIBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
      <div class="container-fluid overlay">
        <div id="navbar-wrapper">
          <a href="#menu-toggle" class="btn btn-outline-success" id="menu-toggle">Menu</a>
        </div>
        <div id="contenido" class="container-fluid">
          <!-- <h1>Simple Sidebar</h1>
                    <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens,
                        and will appear non-collapsed on larger screens. When toggled using the button below, the menu will
                        appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                    <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
          <br>
          <div class="container">

            <!-- Page Heading -->
            <h1 class="my-4">Movies
              <!--<small>Secondary Text</small>-->
            </h1>
            <div class="row">
                <div class="jumbotron">
                    <h1 class="display-4">Episode I</h1>
                    <p class="lead">Title:The Phantom Menace</p>
                    <p>Turmoil has engulfed the\r\nGalactic Republic. The taxation\r\nof trade routes to outlying star\r\nsystems is in dispute.\r\n\r\nHoping to resolve the matter\r\nwith a blockade of deadly\r\nbattleships, the greedy Trade\r\nFederation has stopped all\r\nshipping to the small planet\r\nof Naboo.\r\n\r\nWhile the Congress of the\r\nRepublic endlessly debates\r\nthis alarming chain of events,\r\nthe Supreme Chancellor has\r\nsecretly dispatched two Jedi\r\nKnights, the guardians of\r\npeace and justice in the\r\ngalaxy, to settle the conflict....</p>
                    <p>Date: 1999-05-19</p>
                    <p>Director : George Lucas</p>
                    <p>Producer: Rick McCallum</p>
                    <p class="lead">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Characters in the movie
                        </button>
                    </p>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <ul id="lista-de-personajes-movies">
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                              <li>Nombre de Personaje</li>
                            </ul>
                        </div>
                      </div>      
                </div>



            </div>   
            <!-- /.row -->

            

          </div>
          <!-- /.container -->
        </div>

        <!--ESTO VA DE ULTIMO-->
        <div id="pieDePagina">
          <!-- Footer -->
          <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 EN VI
              <a href="#">Proyecto Front-End Andres/Camilo/Isaac</a>
            </div>
            <!-- Copyright -->

          </footer>
          <!-- Footer -->
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="js/main.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>