body{
    color: white;
    background-color: black;
}

.container-fluid #contenido{
    padding: 2em;
    min-height: 80vh;
}

#homeli{
    margin-top: 7em;
}



#logo{
    width: 10em;
    height: 6em;
    background-image: url('../img/logo.png');
    background-size: 10em;
    background-position: top;
    background-repeat: none;
}



.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left:0;
    top:0;
    background: rgba(0, 0, 0, 0.6)
}

#page-content-wrapper{
    height: 100vh;
    background-image: url('../img/fondo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#page-content-wrapper .container-fluid{
    color: white;
    padding: 0.5em 1em;
}

#pieDePagina{
    border-top: 1px rgba(255, 255, 255, 0.226) solid;
}


